body {
    font-family: 'Inner', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a0033;
    color: #ecf0f1;
}

#main-content {
    width: 90%;
    max-width: 1000%;
    margin: 20px auto;
    overflow: hidden;
    padding: 30px;
    background: #2a0050;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(100, 0, 150, 0.5);
}
header {
    background: #3a0070;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
    border-radius: 12px 12px;
    margin-bottom: 20px;
}
h1 {
    color: #8be9fd;
    margin: 25px 0;/*vizszintes elem jobb és bal oldalán nincs margó*/
    font-size: 3rem;
}

/*rem (root em): Mindig a gyökérelem (pl. <html>) betűméretéhez viszonyít.

em: Az aktuális elem vagy annak szülőelemének betűméretéhez viszonyít. Az em használata láncreakciót okozhat, ahol a szövegméret "elburjánzik" (compound effect), ha egymásba ágyazott elemeken használod, míg a rem konzisztens marad.*/

h2 {
    color: #bd93f9;
    border-bottom: 2px  solid #503d7c;
    padding-bottom: 20px;
    margin-top: 40px;

}
h3 {
    color: #ff79c6;
}
.highlight {
    font-weight: bold;
    color: #ff6e6e;
}

table {
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}
th, td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #4a007c;
}
th {
    background-color: #5c00b8;
    color: white;
    font-weight: 600;
}


.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}
